aiohttp==3.6.2
arrow==0.15.8
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
cassiopeia==4.0.13
certifi==2019.11.28
chardet==3.0.4
datapipelines==1.0.7
decorator==4.4.2
discord==1.0.1
discord.py==1.4.1
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
merakicommons==1.0.9
multidict==4.7.6
networkx==2.4
Pillow==9.0.1
pylint==2.4.4
requests==2.23.0
six==1.14.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
update-checker==0.16
urllib3==1.25.8
websocket-client==0.57.0
wrapt==1.11.2
yarl==1.5.1
